* {
	font-family: arial;
	font-family: 'Roboto', Arial;
}
body {
	background-color: #000;
	margin: 0px;
	font-size: 0px;
	overflow: hidden;
}
#view3d {
	position: absolute;
	top: 0px;
	left: var(--leftbar-width);
	right: 0px;
	bottom: 0px;
}