* {
	font-family: monospace;
}

body {
	margin: 0px;
	font-size: 0px;
	background-color: #ccc;
}

#main {
	width: 800px;
	margin: 0px auto;
	background-color: #fff;
	padding-top: 1px;
	margin-top: 100px;
}

#filters {
	/*background-color: #68b;*/
	margin: 5px;
}

#filters .field {
	margin: 5px 0px 0px 5px;
	display: inline-block;
	--field-width: 160px;
	width: var(--field-width);
	--extra-len: 0px;
}

#filters .field .label {
	font-size: 16px;
}

#filters .field input[type="number"] {
	--extra-len: 8px;
}

#filters .field select {
	--extra-len: 0px;
}

#filters .field.tiny {
	--field-width: 65px;
}

#filters .field.small {
	--field-width: 100px;
}

#filters .field input,
#filters .field select {
	width: calc(var(--field-width) - var(--extra-len));
}

#results {
	/*background-color: #fff;*/
	min-height: 100px;
}

#results .result {
	padding: 10px;
	/*background-color: #fc7;*/
}

#results .header {
	font-size: 16px;
	color: #555;
}

#results .header .price {
}

table tr,
table td {
	font-size: 16px;
}

th, td {
	padding: 3px 7px;
}

.popup-wrapper {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.7);
}

.popup-wrapper > .block {
	display: inline-block;
	width: 400px;
	min-height: 100px;
	background-color: #fff;
}

.popup-wrapper > .block > .content {
	padding: 20px;
}

tr.oferta {
	cursor: pointer;
}

tr.oferta:hover td {
	background-color: #ccc;
}

.text-info {
	font-size: 16px;
}
