body {
	text-align: center;
	background-color: #151515;
}
#info, #panel {
	font-family: monospace;
	color: #777;
	text-align: left;
	width: 680px;
	margin-left: auto;
	margin-right: auto;
}
#info {
	height: 50px;
}
#panel {
	margin-top: 45px;
}
#panel > div {
	margin-bottom: 10px;
}
#panel input[type="button"] {
	background-color: #fff;
	border: none;
	border-radius: 2px;
	height: 24px;
	width: 75px;
	background-color: #444;
	color: #aaa;
	cursor: pointer;
}
#panel input[type="button"].selected {
	background-color: #aaa;
	color: #444;
}
#textbox {
	--padding-x: 12px;
	--padding-y: 10px;
	padding: var(--padding-y) var(--padding-x);
	background-color: #444;
	width: calc(400px - var(--padding-x)*2);
	height: calc(150px - var(--padding-y)*2);
	margin: 50px auto 0px auto;
	font-family: monospace;
	text-align: left;
	color: #ccc;
}
