body {
	--color-1: #222;
	--color-2: #fff;
	--color-3: #0d0d0d;
	--color-4: #ddd;
	font-family: monospace;
	margin: 0px;
	color: var(--color-2);
	background-color: var(--color-1);
	font-size: 0px;
}
input {
	font-family: monospace;
}
input[type="text"],
input[type="password"] {
	background-color: var(--color-3);
	border: none;
	width: 248px;
	padding-left: 8px;
	height: 26px;
	font-size: 16px;
	color: var(--color-4);
}
input.invalid {
	background-color: #533;
}
#centralizer {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	text-align: center;
}
#wrapper {
	text-align: left;
	display: inline-block;
}
.field {
	margin-bottom: 10px;
}
.field .title {
	font-size: 14px;
}
.field.check {
	height: 34px;
	border-radius: 4px;
	margin-bottom: 0px;
}
.field.check .title {
	margin-top: 8px;
	margin-left: 10px;
	float: left;
}
.field.check .content {
	float: right;
	margin-top: 8px;
	margin-right: 8px;
}
canvas {
	margin-top: 10px;
	margin-bottom: 20px;
}
input[type="button"] {
	display: block;
	width: 256px;
	border: none;
	height: 42px;
	border-radius: 3px;
	background-color: #333;
	color: #ddd;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
}
#flags {
	border: 1px solid #444;
	background-color: #2a2a2a;
	border-radius: 4px;
	margin-bottom: 10px;
}
#result {
	text-align: center;
	height: 32px;
	padding: 0px 4px;
}